In [2]:
import pandas as pd 
import numpy as np

# read csv and assign columns
columns = ["personId", "productId"]
pairs = pd.read_csv("dataset/ratebeer/pairs_dense.csv", header=None)
wish = pd.read_csv("dataset/ratebeer/wish_dense.csv", header=None)
transac = pd.read_csv("dataset/ratebeer/transac_dense.csv", header=None)
have = pd.read_csv("dataset/ratebeer/have_dense.csv", header=None)

# pairs.columns = columns
# wish.columns = columns
# transac.columns = columns
# have.columns = columns

In [9]:
transac.iloc[:, :2]

          0    1
0         1    2
1         3    4
2         5    6
3         5    6
4         7    8
...     ...  ...
125660  234   71
125661  234   71
125662  234   71
125663   71  234
125664   71  234

[125665 rows x 2 columns]

In [14]:
transac_u.iloc[:].values

array([[  1,   2],
       [  3,   4],
       [  5,   6],
       ...,
       [234,  71],
       [ 71, 234],
       [ 71, 234]])

In [19]:
transac_u = transac.iloc[:, :2] # get col 0, 1 (GiverUserID,ReceiverUserID)
t_max_u = np.max(transac_u.iloc[:].values)
w_max_u = np.max(wish.iloc[:, 0].values)
print(t_max_u)
print(w_max_u)

2885
2971

In [20]:
pairs_u = pairs.iloc[:, [0, 2]]
p_max_u = np.max(pairs_u.iloc[:].values)
p_max_u

2885

In [28]:
max_u = np.max([t_max_u, w_max_u, p_max_u])
max_u

2971

In [30]:
t_max_i = np.max(transac.iloc[:, 2].values)
print('t_max_i', t_max_i)
w_max_i = np.max(wish.iloc[:,1].values)
print('w_max_i', w_max_i)
pairs_i = pairs.iloc[:, [1, 3]]
p_max_i = np.max(pairs_i.iloc[:].values)
print('p_max_i', p_max_i)
max_i = np.max([t_max_i, p_max_i, w_max_i])
print(max_i)

t_max_i 18757
w_max_i 32238
p_max_i 18756
32238

In [32]:
RR = np.zeros((max_u, max_i)) # interaction matrix - receiver
RG = np.zeros((max_u, max_i)) # interaction matrix - giver

In [ ]:
# Create interaction matrix
# c_ij represent the number of transactions
# that i received from j
C = np.zeros((max_u, max_u))

In [34]:
num_test = int(len(pairs)/10)
num_test

4304

In [86]:
perms = np.random.permutation(len(pairs))
test_rows = perms[:num_test]
train_rows = perms[num_test:]
test_pairs  = pairs.iloc[test_rows]
train_pairs = pairs.iloc[train_rows]

In [87]:
transac

          0    1      2           3
0         1    2      1  1314860400
1         3    4      2  1362124800
2         5    6      3  1178002800
3         5    6      4  1178002800
4         7    8      5  1354348800
...     ...  ...    ...         ...
125660  234   71    313  1296547200
125661  234   71   1326  1309503600
125662  234   71  11815  1314860400
125663   71  234  18757  1362124800
125664   71  234   1326  1362124800

[125665 rows x 4 columns]

In [ ]:
train = transac
train = [train;[zeros(length(wish),1) wish zeros(length(wish),1)]]